<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <connectionStrings>
    <add name="PhoneTariffDb" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Wolfgang\Source\Repos\SWK5\Lesson_03\Phone\PhoneTariff.mdf;Integrated Security=True;Connect Timeout=30"/>
  </connectionStrings>

  <appSettings>
    <add key="DALAssembly" value="PhoneTariff.DAL.SqlServer"/>
    
  </appSettings>
  
</configuration>